body{
   background-image: url(/images/fondowebb.png);
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
.title {
    text-align: center; padding-bottom: 10px;
}

.menu{ 
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: space-evenly;
     position: sticky;
}

.menu .botones{
    display: inline-block; list-style: none;
}

.ovalado{
    color: black;
    text-decoration: none; 
    display: inline-block; 
    padding: 12px 25px; 
    border-radius: 999px;
    background-color: rgba(214, 161, 74, 0.951);
}

.encabezado{
   display:flex;
   align-items:center;
   gap: 15px;
}

.encabezado img{
    height:200px;
    width: auto;
}

.encabezado h1{
    margin: 0;
    font-size: 50px;
}



