body{
   background-image: url(/images/background.png);
    background-color:rgb(153, 74, 28);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title {
    text-align: center; padding-bottom: 10px;
}
.menu{ 
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: space-evenly;

}
.menu .botones{
    display: inline-block; list-style: none;
}
.ovalado{
    color: black;
    text-decoration: none; 
    display: inline-block; 
    padding: 12px 25px; 
    border-radius: 999px;
    background-color: rgba(214, 161, 74, 0.951);
}
.chatBot{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 80%;
    z-index: 1000px;
    background-color: rgb(72, 33, 10);
   display: flex;
   align-items: center;
}
.encabezado{
   display:flex;
   align-items:center;
   gap: 15px;
}
.encabezado img{
    height:100px;
    width: auto;
}
.encabezado h1{
    margin: 0;
    font-size: 50px;
}
