.page-header{font-family: Arial, Helvetica, sans-serif; font-size:x-large;}
h1 {text-align: center; padding-bottom: 10px;}
#main-nav{ color: whitesmoke; margin-right: 10px;}
#main-nav li {background-color: black; display: inline-block; list-style: none;border-radius: 5px;}
#main-nav a{; padding: 5px; text-decoration: none;}
